.plan-element-module {
  padding: 0 15px;
  transition: all 0.7s;
  cursor: pointer;
}

.plan-item p {
  padding: 12px 0;
  color: #666;
  font-size: 16px;
}
.item-level {
  font-size: 32px;
  margin-bottom: 18px;
}
.price {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.dolar {
  font-size: 18px;
  margin-top: 14px;
  font-weight: 700;
}
.price-num {
  font-size: 70px;
  margin-left: 6px;
}
.price-mouth {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 14px;
  font-weight: 700;
}
.plan-button {
  margin-top: 24px;
  padding: 18px 64px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #1e85fe;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .price-num {
    font-size: 60px;
  }
}
@media only screen and (max-width: 980px) {
  .plan-element-module {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .price-num {
    font-size: 70px;
  }
  .price p {
    font-size: 16px;
  }
}
@media (max-width:551px) {
  .plan-item p{
    font-size: 18px;
    padding: 9px 0;
  }
  .plan-button{
    font-size: 16px;
  }
}
@media (max-width: 376px) {
  .item-level h2{
    font-size: 30px;
  }
  .plan-item p {
    padding: 8px 0;
  }
}
