.get-started{
    padding: 12px 27px;
    border-radius: 30px;
    background-color: #F25822;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.started-now{
    padding: 15px 36px;
    border-radius: 30px;
    background-color: #F25822;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.7px;
}

@media (max-width:611px) {
    .started{
        width: 100%;
    }
    .started-now{
        width: 100%;
    }
}