.get-started {
  padding: 12px 27px;
  border-radius: 30px;
  background-color: #1e85fe;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
}
.started-now {
  padding: 15px 36px;
  border-radius: 30px;
  background-color: #1e85fe;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.7px;
  letter-spacing: 1px;
}
.btn{
  padding: 15px 65px;
  border-radius: 30px;
  background-color: #1e85fe;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.7px;
}
@media (max-width: 611px) {
  .started {
    width: 100%;
  }
  .started-now {
    width: 100%;
  }
  .btn{
    width: 100%;
    margin: 0 30px;
  }
}
