.modal-elements {
  display: flex;
  text-align: left;
}
.body2 {
    width: 600px;
    max-height: 100vh;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-content p {
  margin: 20px 0;
}
.content-button {
  width: 100%;
  background-color: #1e85fe;
  color: #fff;
  padding: 12px 27px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 30px;
}
@media (max-width: 410px) {
  .right-content {
    display: none;
  }
  
}
