.header {
  padding: 15px 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.logo {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 80px;
  height: 55px;
}
.logo img {
  width: 100%;
}

.text-logo {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  margin-left: 14px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  padding: 0 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #000;
  padding: 12px 0;
}
.get-started {
  padding: 12px 27px;
  border-radius: 30px;
  /* background-color: #f25822; */
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.header-mobile {
  display: flex;
  align-items: center;
  display: none;
}
@media only screen and (max-width: 1300px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .navbar ul li a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 980px) {
  .container {
    max-width: 720px;
  }
  .navbar {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 611px) {
  .container {
    max-width: 490px;
  }
  .logo {
    max-width: 60px;
  }
  .logo img {
    width: 100%;
  }
}
@media (max-width: 481px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 340px;
  }
}
