.maket-item {
  display: flex;
  padding: 17px 30px;
  cursor: pointer;
  transition: ease 0.7s;
}
.maket-item:hover {
  box-shadow: 28px 28px 69px #cecece, -28px -28px 69px #f2f2f2;
}
.maket-item img {
  height: 100%;
}
.maket-txt {
  margin: auto 0 auto 20px;
}
.maket-txt h2 {
  font-size: 20px;
  color: #000;
}
.maket-txt p {
  font-size: 15px;
  color: #666;
  padding-top: 8px;
}
@media (max-width: 611px) {
  .maket-txt p {
    font-size: 12px;
    padding-top: 6px;
  }

  .maket-item:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@media (max-width: 376px) {
  .maket-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
  }
  .maket-item img {
    width: 70px;
    height: 70px;
  }
  .maket-txt {
    margin: 20px 0 0;
  }
}
