.clients{
    padding: 80px 0;
}
.client-paragrf{
    text-align: center;
}
.client-paragrf h2{
    font-size: 38px;
}
.client-paragrf p{
    max-width: 460px;
    font-size: 16px;
    color: #666;
    margin: 20px auto 0;
}
.clients-wrapper{
    display: flex;
    padding: 50px 0 30px;
}

.swiper-pagination{
    position: relative;
    margin-top: 50px;
}
.swiper-pagination-bullet{
    background-color: #F25822 !important;
    width: 12px;
    height: 12px;
}
@media only screen and (max-width:980px) {
    .cont-prf h2{
        font-size: 36px;
    }
    .cont-prf p{
        font-size: 15px;
    }
}
@media (max-width:611px) {
    .clients{
        padding: 50px 0;
    }
    .client-paragrf h2{
        font-size: 28px;
        line-height: 32px;
    }
    .client-paragrf p{
        margin: 15px auto 0;
    }
    .clients-wrapper{
        padding: 30px 0;
    }
}