body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf");
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e85fe;
  border-radius: 20px;
}

/* ::selection {
  color: gold;
  background-color: grey;
} */

/* ::-webkit-scrollbar-button {
  background-color: red;
  color: red;
  border-radius: 50%;
} */
